@font-face {
  font-family: Beaufort;
  src: url(C:\Users\diegu\OneDrive\Documentos\Codando\Projetos\IniciantesTFT\Fontes\BeaufortForLoL-TTF\BeaufortforLOL-Regular.ttf);
}
@font-face {
  font-family: Spiegel;
  src: url(C:\Users\diegu\OneDrive\Documentos\Codando\Projetos\IniciantesTFT\Fontes\Spiegel-TTF\Spiegel_TT_Regular.ttf);
}
/*
CORES:
  Paleta de Azul
  #0A1428
  #091428
  #0A323C
  #005A82
  #0397AB
  #0AC8B9
  Paleta de Dourado
  #32281E
  #463714
  #785A28
  #C89B3C
  #C8AA6E
  #F0E6D2
  Paleta de Cinza
  #010A13
  #1E282D
  #1E2328
  #3C3C41
  #5B5A56
  #A09B8C
*/
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: Beaufort;
  text-align: center;
}
body {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color:  #0A1428;
  color: #FFF; /*#e9e2d3*/
  transition-duration: 0.4s;
}
h1 {
  font-size: 48px;
  font-weight: 900;
  color: inherit;
  text-shadow: 0px 8px 10px 
  rgba(0, 0, 0, 0.75);
}
h2 {
  font-size: 36px;
  font-weight: 700;
  color: inherit;
  text-shadow: 0px 4px 10px 
  rgba(0, 0, 0, 0.75);
}
h3 {
  font-size: 28px;
  font-weight: 700;
  color: inherit;
  text-shadow: 0px 4px 10px 
  rgba(0, 0, 0, 0.75);
}
h4 {
  font-size: 22px;
  font-weight: 700;
  color: inherit;
  text-shadow: 0px 4px 10px 
  rgba(0, 0, 0, 0.75);
}
p {
  font-family: Spiegel;
  font-size: 28px;
  color: #FFF;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
.Uno, .Dos{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Uno {
  position: relative;
  border-bottom: 1px solid #C89B3C;
}
.Uno:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url('../Imagens/tftbackground.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.conteudo-uno {
  position: relative;
  display: flex;
  flex-direction: column;
}
#navbar {
  position: fixed;
  top: -131px;
  width: 100%;
  transition: top 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  background-color:  #0A1428;
  border-bottom: 1px solid #C89B3C;
}
.tudo {
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tudo img {
  height: 110px;
  width: 120px;
  margin: 10px;
}
.tudo .direita {
  width: 370px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  display: flex;
  gap: 118px;
}
.header {
  height: 60px;
  padding-bottom: 45px;
}
.centro {
  max-width: 920px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 500px;
  gap: 26px;
}
.centro img {
  width: 420px;
  height: 368px;
}
.centro .conteudo {
  width: 420px;
}
.centro button {
  margin-top: 24px;
  border: none;
  width: 300px;
  height: 56px;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: #C89B3C;
  color: #000;
  font-size: 22px;
  transition-duration: 0.4s;
}
.centro button:hover {
  background-color: transparent;
  border: 2px solid #C89B3C;
  color: #F0E6D2;
}
.wrap {
  background-color: #091428;
  max-width: 1400px;
  max-width: 100%;
  margin: 45px 260px;
  padding: 40px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid #C89B3C;
}
.guiasdesc {
  max-width: 1400px;
  width: 100%;
  padding-top: 46px;
}
.titulo {
  color: #C89B3C;
  padding: 24px;
}
.descricao {
  padding: 24px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: center;
  gap: 30px;
  padding-bottom: 64px;
}
.card {
  padding: 16px;
  margin: 16px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 2px solid #785A28;
}
.desc {
  height: 150px;
  width: 220px;
}
.card button {
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: #C89B3C;
  color: #000;
  font-size: 22px;
  transition-duration: 0.4s;
}
.card button:hover {
  background-color: transparent;
  border: 2px solid #C89B3C;
  color: #F0E6D2;
}
.Footer {
  height: 40vh;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  #010A13 ;
}
.cima {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}
.social {
  display: flex;
  font-size: 30px;
  gap: 10px;
}
.fa-brands {
  display: flex;
}
.fa-google, .fa-instagram, .fa-github,.fa-linkedin:before {
  width: 30px;
  height: 34px;
}
.midia-1 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 40px;
}
.midia-2 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 12px;
  gap: 40px;
}
.cima img {
  width: 300px;
  height: 268px;
}
.baixo {
  max-width: 1400px;
}
/*Gostei dessa scroll bar, deixa isso daqui quieto*/
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}